/* @import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css); */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');


/*

Desktop: 980+
Tablet: 760+


*/


body {
  font-family: "Heebo", "Open Sans Hebrew", sans-serif;
  margin: 0;
}

header {
  background: radial-gradient(#E6007E 0%, #F29AC2 150%);
  color: white;
  margin-bottom: 15rem;
     position: relative;
    padding-bottom: 6rem;
}

header::before {
content: '';
width: 100%;
height: 7rem;
z-index: 3;
background: white;
display: block;
position: absolute;
bottom: 0;
clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

header::after {
  content: '';
width: 100%;
height: 8.5rem;
z-index: 2;
background: rgba(255, 255, 255, 0.5);
position: absolute;
bottom: 0;
clip-path: polygon(100% 0%, 100% 100%, 5% 100%);
}

.title {
  margin: 0 auto;
  padding: 3rem 0 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
  margin: 0;
}

.slogan {
  display: flex;
  flex-direction: row;
  width: 34rem;
  align-items: center;
}

.slogan div {
  flex-grow: 1;
  height: 6px;
  border-radius: 100px;
  background: white;
}

.slogan p {
  font-size: 2rem;
  margin: 0 1rem;
}

h2 {
  font-size: 6rem;
  text-align: center;
  margin: -1rem 0 0;
}

.summary-and-donation {
  display: grid;
  grid-template-columns: 1fr 600px;
  margin: 0 auto;
  padding-bottom: 3rem;
  max-width: 1200px;
  grid-gap: 2rem;
}

.donation {
  position: relative;
}

.donation iframe {
  border: none;
  width: 600px;
  height: 100rem;
  position: absolute;
  z-index: 3;
}

.summary {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.summary p {
  margin-top: 0;
}

.social-share {
  width: 9.5rem;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-share img {
  width: 4rem;
  height: 4rem;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  grid-gap: 5rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

.stat img {
  width: 100%;
}

.stat .stat-number {
  font-weight: bold;
  margin-bottom: 0;
}

.stat .stat-description {
  margin-top: 0;
}

.carousel {
  width: 900px;
  height: 600px;
  background: white;
  border: 0.75rem #E6007E solid;
  border-radius: 0.8rem;
  margin: 2rem auto;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel div div { transform: translateZ(0); }


.content {
  max-width: 65ch;
  font-size: 1.5rem;
  margin: 3rem auto 10rem;
}