@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body {
  font-family: "Open Sans Hebrew", sans-serif;
}

header {
  background: #E6007E;
  color: white;
}

h1 {
  
}

slogan {
  display: flex;
  flex-direction: row;
  width: 100%;
}

slogan div {
  flex-grow: 1;
  height: 10px;
  border-radius: 100%;
  background: white;
}
