@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body {
  font-family: 'Open Sans Hebrew', sans-serif;
  margin: 0;
}

header {
  background: radial-gradient(at 50% 10rem, #e6007e 0%, #f29ac2 150%);
  color: white;
  margin-bottom: 5rem;
  position: relative;
  padding: 1rem 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header::before {
  content: '';
  width: 100%;
  height: 7rem;
  z-index: 3;
  background: white;
  display: block;
  position: absolute;
  bottom: 0;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

header::after {
  content: '';
  width: 100%;
  height: 8.5rem;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  clip-path: polygon(100% 0%, 100% 100%, 5% 100%);
}

.language-link {
  color: white;
  padding: 0 1rem;
  align-self: flex-end;
  font-size: 1.25rem;
}

.title-image {
  padding: 3rem 0 4rem;
  width: 60%;
  display: block;
}

.summary-and-donation {
  display: grid;
  grid-template-columns: 1fr 37rem;
  padding-bottom: 3rem;
  width: 95%;
  max-width: 75rem;
  grid-gap: 2rem;
}

.donation {
  position: relative;
  justify-self: center;
  width: 100%;
  max-width: 37rem;
}

.donation iframe {
  border: none;
  width: 100%;
  height: 92rem;
  position: absolute;
  z-index: 3;
}

.summary {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
}

.summary p {
  margin-top: 0;
}

.links {
  height: 4rem;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.links .image-link {
  line-height: 0;
}
.links img {
  width: 4rem;
  height: 100%;
}

.links a:nth-of-type(2) {
  margin: 0 1.5rem;
}

.links .button-link {
  background: linear-gradient(to top, #27ada4, #7dd1d7);
  border: 0.4rem solid #3ebcb9;
  color: white;
  align-self: center;
  text-decoration: none;
  flex-grow: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 100rem;
}

main {
  width: 95%;
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto 10rem;
}

.stats {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 6rem;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

.stat img {
  width: 100%;
}

.stat .stat-number {
  font-weight: bold;
  margin-bottom: 0;
}

.stat .stat-description {
  margin-top: 0;
}

.carousel {
  width: 100%;
  max-width: 56rem;
  height: 37rem;
  background: white;
  border: 0.75rem #e6007e solid;
  border-radius: 0.8rem;
  margin: 3rem 0 5rem;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* https://github.com/pawelgrzybek/siema/issues/275 */
.carousel div div {
  transform: translateZ(0);
}

.content {
  max-width: 65ch;
  font-size: 1.5rem;
}

@media (max-width: 980px) {
  header {
    margin-bottom: 20rem;
    padding-bottom: 20rem;
  }

  .summary-and-donation {
    grid-template-columns: 1fr;
  }

  main {
    max-width: 95%;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    max-width: 35rem;
  }

  .stat img {
    max-width: 8rem;
  }

  .carousel {
    height: 60vw;
  }
}

@media (max-width: 760px) {
  header {
    margin-bottom: 23rem;
  }

  .language-link {
    font-size: 1rem;
  }

  .title-image {
    width: 80%;
  }

  .summary {
    font-size: 1.25rem;
  }

  .links {
    height: 3rem;
  }

  .links img {
    width: 3rem;
    height: 3rem;
  }

  .donation iframe {
    height: 97rem;
  }

  .stat {
    font-size: 1.25rem;
  }

  .carousel {
    border: none;
    width: 100vw;
  }

  .content {
    font-size: 1rem;
  }
}
